body {
	background-color: #EEEEEE;
}

h1 {
	font-variant: small-caps;
	padding-left: 40px;
	padding-top: 10px;
}

foreignObject {
	background-color: #ADADAD;
	height: 100px;
	width: 700px;
	padding: 10px;
	border-radius: 5px;
}

songs {
	font-weight: lighter;
}

#themes-list {
	padding-left: 40px;
	font-weight: bold;
}

.theme-item {
	padding: 10px 10px;
	width: 250px;
	font-weight: normal;
	float: left;
	border-radius: 5px;
}

#info_panel {
	font-weight: bold;
}

#info_panel_1 {
	height: 150px;
	background-color: #ADADAD;
	width: 100%;
	padding: 20px;
	margin-left: -10px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}

#audio {
	padding: 10px;
}

.theme-item:hover {
	background-color: #ADADAD;
}