body {
	background-color: #EEEEEE;
}

h1 {
	font-variant: small-caps;
	padding-left: 40px;
	padding-top: 10px;
}

h2, h3, h4, h5 {
	font-variant: small-caps;
}

#songstitle {
	padding-left: 40px;
}

#vis_container {

}

songs {
	font-weight: lighter;
}

#songname {
	height: 20px;
}

#themes-list {
	padding-left: 40px;
	font-weight: bold;
}

#div2 {
	width: 50%;
	float: left;
}

.theme-item {
	padding: 10px 10px;
	width: 250px;
	font-weight: normal;
	float: left;
	border-radius: 5px;
	text-align: center;
}

#info_panel {
	font-weight: bold;
}

#info_panel_1 {

	height: 230px;
	background-color: #ADADAD;
	width: 100%;
	padding: 20px;
	margin-left: -10px;
	margin-top: -5px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}

#audio {
	padding: 10px;
}

.theme-item:hover {
	background-color: #ADADAD;
}

.lyrics {
	overflow: auto;
	height: 120px;
	width: 50%;
	margin-left: 24%;
}