body {
	background-color: #EEEEEE;
}

h1 {
	font-variant: small-caps;
	padding-left: 40px;
	padding-top: 10px;
}

#vis_container {

}

songs {
	font-weight: lighter;
}

#themes-list {
	padding-left: 40px;
	font-weight: bold;
}

.theme-item {
	padding: 10px 10px;
	width: 250px;
	font-weight: normal;
}

#info_panel_1 {
	height: 100px;
	width: 100%;
	text-align: center;
}

.info_panel {
	width: 700px;
	background-color: #ADADAD;
	height: 100px;
	padding: 10px;
	display: inline-block;
}

.theme-item:hover {
	background-color: #ADADAD;
}